html {
   font-size: 18px;
   padding:10px 10%;
   font-family: arial;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
   display: flex;
   justify-content: flex-end;
   padding: 10px;
}

.logo {   
   height: 200px;
   width: 500px;
   background-image: url('logo_sprites.jpg');
   background-repeat: no-repeat;
}

.logo:hover {
   background-position: 0 -200px ;
}

.logo:active {
   background-position: 0 -400px ;

}
nav {
   display: flex;
   justify-content: space-evenly;
}

h2 {
   font-size: 2rem;
   padding: 30px;
}

.absolute {
   display: flex;
   justify-content: space-evenly;
}

.absolute div {
   background-color: red;
   width: 80px;
}
.absolute .one{
   height: 5in;
}
.absolute .two{
   height: 8cm;
}
.absolute .three{
   height: 15pc;
}
.absolute .four{
   height: 25mm;
}
.absolute .five{
   height: 15pt;
}

.relative {
   min-height: 400px;
   display: flex;
   flex-direction: column;
   align-items: space-evenly;
   justify-content: space-evenly;
}

.relative div {
   height: 80px;
   background-color: blue;

}

.relative .one {
   width: 30%;
}
.relative .two {
   width: 40vh;
}
.relative .three {
   width: 50vw;
}
.relative .four {
   width: 70vmax;
}

.em {
   font-size: 20px;
   text-align: right;
   color: red;
}

.em .small {
   font-size: 1em;
}
.em .medium {
   font-size: 2em;
}
.em .big {
   font-size: 3em;
}