$bgc: #153553;

%flex-centered {
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 600px) {
   %flex-centered {
      display: block;
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   max-width: 1920px;
   font-family: arial;
}

.wrapper {
   margin: 0 auto;
}

.header {
   @extend %flex-centered;

   &__title {
      text-transform: uppercase;
      line-height: 2;
      font-size: 64px;
      letter-spacing: 3px;
   }
}

.row {
   @extend %flex-centered;
   padding: 5%;

   &__text {
      @extend %flex-centered;
      flex-direction: column;
      flex: 3;
   }

   &__title {
      align-self: flex-start;
      line-height: 3;
      text-transform: uppercase;
      font-size: 34px;
   }

   &__desc {
      line-height: 160%;
   }

   &__img {
      @extend %flex-centered;
      padding: 5%;
      flex: 1;

      img {
         max-width: 70%;
      }
   }

   &__reverse {
      flex-direction: row-reverse;
   }
}

.flex {
   @extend %flex-centered;
   flex-wrap: wrap;
   justify-content: space-around;
   
   &__img-container {
      @extend %flex-centered;
      width: 30vw;
      height: 30vw;
      margin-top: 20px;

      @media (max-width: 600px) {
         width: 90vw;
         height: 90vw;
      }
   }

   &__img {
      width: 80%;
   }

   @for $i from 1 through 6{
      &__img-container:nth-child(#{$i}){
        border:4vw solid lighten( $bgc, $i * 15%);
        background-image: url(img/d#{$i}.jpg);
        background-position: center 0;
        background-size: cover;
      }      
   }
}

.footer {
   padding: 0 10vw;
   display: flex;
   justify-content: space-around;
   background-color: #ddd;

   &__img-container {
      line-height: 1.6;
      font-size: 100px;
      
      @media(max-width: 600px) {
         font-size: 50px;
      }
   }

}